html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: cursive,sans-serif;
    background-color: rgb(19, 18, 18);
}

*{
    color: white;
}

/*  -----------------------------  HEADER ----------------------------- */
.mainNav{
    display: flex;
    padding: 16px 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    justify-content: center;
    z-index:10;
}

.active{
    background-color: #212529;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav-mb {
    width:100%;
    position:absolute;
    top: 72px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:inherit;
}

nav a{
    color: inherit;
    text-decoration: none;
    display:inline-block; 
    margin-top: 4px;
    width: 100px;
    padding: 0px 20px;
}

nav a:hover{
    color: #13ed21;
}

nav a:hover:after{
    transform: scaleX(1);
}

nav a:after {
    margin-top: 4px;
    display:block;
    content: '';
    border-bottom: solid 3px #13ed21;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:  0% 50%;
}
.mb{
    display:none;
    padding: 6px 6px;
    border: 1px solid #B4B4B3;
    flex-direction: column;
    gap:8px;
    justify-content: center;
    border-radius: 4px;
}
.mb:hover{
    cursor: pointer;
}
.line {
    background-color: white;
    width: 40px;
    height: 4px;
    border-radius: 4px;
}

.flex {
    display:flex;
}

/*  -----------------------------  HEADER END ----------------------------- */

/*  -----------------------------  BODY ----------------------------- */

.container{
    display: flex;
    margin: 20px 20px;
    flex-direction: column;
}

.title {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.about {
    display:flex; 
    gap:60px;
    justify-content: space-between;
    margin: 0 150px;
}

.about-txt {
    font-size: 24px;
}

.underline {
    background-color: #13ed21;
    width: 80px;
    height: 5px;
    display: block;
}

.random{
    display: flex;
    flex-direction: column;
    margin: 0 150px;
}

.random article{
    text-align: center;
}

.exit button{
    background-color: white;
    color: black;
    padding: 8px 16px;
    position:absolute;
    top:0;
    right:0px;
    z-index:100;
}

.exit button:hover{
    cursor: pointer;
}

.mobile {
    display:flex;
    width:100%;
    height:100vh;
}

/*  -----------------------------  BODY END ----------------------------- */

footer{
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px;
    background-color: #212529;
}

.mybutton{
    padding: 8px 16px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    font-family: cursive,sans-serif;
    font-weight: bold;
    border-color: transparent;
    transition: all 0.5s;
}

.mybutton:hover{
    background-color: #B4B4B3;
    cursor: pointer;
}

.img-effect{
    transition: all .5s ease-in-out;
}
.img-effect:hover{
    transform: scale(1.05);
}

.top-c{
    position: absolute;
    top: 10; 
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:-1;
}

.top-c li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.top-c li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.top-c li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.top-c li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.top-c li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.top-c li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.top-c li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.top-c li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.top-c li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.top-c li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.top-c li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.top-c li:nth-child(11){
    left: 45%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.top-c li:nth-child(12){
    left: 15%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(-2900px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(0px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media screen and (max-width: 1280px) {
    .about {
        margin: 0 50px;
    }
    .random {
        margin: 0 50px;
    }
}

@media screen and (max-width: 960px) {
    .about {
        margin: 0 30px;
    }
    .about aside div {
        display: flex;
        justify-content: center;
    }
    .about aside div img {
        width: 250px;
    }
    .about-txt {
        font-size: 20px;
    }
}


@media screen and (max-width: 768px) {
    .mainNav{
        display: flex;
        padding: 16px 0;
        box-sizing: border-box;
        position: sticky;
        top: 0;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
        justify-content: left;
    }
    .mb{
        display:flex;
        padding: 6px 6px;
        border: 1px solid #B4B4B3;
        flex-direction: column;
        gap:8px;
        justify-content: center;
        border-radius: 4px;
        margin: 0px 20px;
    }

    .nav {
        display: none;
        gap: 50px;
        margin: 0px 20px;
    }
    .about {
        margin: 0 30px;
        flex-direction:column;
    }
    .random {
        margin: 0 30px;
    }
    .random img {
        width: 200px;
    }
}

@media screen and (max-width: 400px) {
    .random h2 {
        font-size: 20px;
    }
    .random img {
        width: 160px;
    }
    .detail {
        font-size:14px;
    }
}

@media screen and (max-width: 360px) {
    .about-txt {
        font-size: 16px;
    }
    .home h1 {
        font-size: 24px;
    }
    .about aside div {
        display: flex;
        justify-content: center;
    }
    .about aside div img {
        width: 200px;
    }
    .random h2 {
        font-size: 16px;
    }
    .random img {
        width: 100px;
    }
    footer{
        font-size:14px;
     }
}